/* Home.module.css */
.mainText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 20px;
}


.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 25px;
}

.space {
    margin: 5px;
}